@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #242333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    color: white;
    font-family: 'Lato', sans-serif;
}

.contenidor-pelicula{
    margin: 20px 0;
}

.contenidor-pelicula select {
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;

    /* NO USAR */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.contenidor{
    perspective: 1000px;
    margin-bottom: 30px;
}

.seient{
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seient.seleccionat{
    background-color: #5793ec;
}

.seient.ocupat{
    background-color: #fff;
}

.seient:nth-of-type(2){
    margin-right: 18px;
}

.seient:nth-last-of-type(2){
    margin-left: 18px;
}

.seient:not(.ocupat):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.llegenda .seient:not(.ocupat):hover{
    cursor: default;
    transform: scale(1);
}

.llegenda{
    background-color: rgba(0, 0, 0, .2);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.llegenda li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.llegenda li small{
    margin-left: 2px;
}

.fila{
    display: flex;
}

.pantalla{
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, .7);
}

p.text {
    margin: 5px 0;
}
p.text span{
    color: #6feaf6;
}